include ../head.pug
body
    .container
        h1.main-title List of clients registration
        table.clients-table
            thead
            tr
                th ID
                th Name to register
                th Contact phone
                th Quantity of players
                th Playing duration
                th Date
                th
            tbody
script.
    document.addEventListener('DOMContentLoaded', function() {
        axios.get('/api/field/')
            .then(function(response) {
                const fields = response.data;
                const tableBody = document.querySelector('table tbody');
                fields.forEach(t => {
                    const row = document.createElement('tr');
                    const field = t.field
                    row.innerHTML = `
                        <td>${t.id}</td>
                        <td>${field.registName}</td>
                        <td>${field.contactPhone}</td>
                        <td>${field.playersNumber}</td>
                        <td>${field.durationTime}</td>
                        <td>${field.datetime}</td>
                        <td>
                            <button class="btn-edit">Edit</button>
                            <button class="btn-delete">Delete</button>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(function(error) {
                console.log(error);
            });
    });
