include ../head.pug
body
    .container.add-width
        h1.main-title #{mode}
        .form-field
            label(for="registName" class="form-label") Name to Register
            input(type="text" class="form-control" id="registName" name="registName" required)
        .form-field
            label(for="contactPhone" class="form-label") Contact Phone
            input(type="tel" class="form-control" id="contactPhone" name="contactPhone" required)
        .form-field
            label(for="playersNumber" class="form-label") Quantity of Players
            input(type="number" class="form-control" id="playersNumber" name="playersNumber" min="1" max="50" required)
        .form-field
            label(for="durationTime" class="form-label") Playing Duration Time
            input(type="time" class="form-control" id="durationTime" name="durationTime" value="00:30" min="00:30" max="05:00" style="-webkit-appearance: none;" required)
        .form-field
            label(for="datetime" class="form-label") Regist Date/Time
            input(type="datetime-local" class="form-control" id="datetime" name="datetime" required)
        button(type="submit" class="btn-add" onclick="submitForm()") #{mode === 'Update' ? 'Update' : 'Add'}
        button(type="submit" class="btn-back" onclick="window.location.href='/'") Back to list
    
    script.
        //- if the client press Edit button
        if ("#{mode}" === "Update") {
            const eventData = !{JSON.stringify(eventData || {})}.field;
            document.getElementById('registName').value = eventData.registName || '';
            document.getElementById('contactPhone').value = eventData.contactPhone || '';
            document.getElementById('playersNumber').value = eventData.playersNumber || '';
            document.getElementById('durationTime').value = eventData.durationTime || '';
            document.getElementById('datetime').value = eventData.datetime || '';
        }
        //- functionality of submit button
        function submitForm() {
            const eventData = {
                registName: document.getElementById('registName').value,
                contactPhone: document.getElementById('contactPhone').value,
                playersNumber: document.getElementById('playersNumber').value,
                durationTime: document.getElementById('durationTime').value,
                datetime: document.getElementById('datetime').value,
            };

            const url = "#{mode}" === "Update" ? `/api/field/${!{JSON.stringify(eventData || {})}.id}` : '/api/field';
            const method = "#{mode}" === "Update" ? 'put' : 'post';

            axios[method](url, eventData).then(response => {
                alert('Success!');
                location.href = '/'
            })
            .catch(error => {
                if(error.response)
                alert(JSON.stringify(error.response.data.errors))
                else
                alert(error)
            });
        }
